<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8"/>
	<title>API-Cadastro</title>

</head>

<body>

	<h1>Cadastro de Pessoas</h1>
	<form method="POST">
	
		Nome: <input type="text" value="" name="nome"/>
		Sexo: <input type="text" value="" name="sexo"/>
		Data de Nascimento: <input type="date" value="" name="datanasc"/>
		País: <input type="text" value="" name="pais"/>
		Estado: <input type="text" value="" name="estado"/>
		E-mail: <input type="text" value="" name="email"/>
		CPF: <input type="text" value="" name="cpf"/>
		
		<button type="submit">Salvar</button>
		
		
	</form>

</body>
</html>